<?xml version="1.0"?>
<config>
    <modules>
        <Yellow_Bitcoin>
            <version>0.1.0</version>
            <depends>
                <Mage_Payment />
            </depends>
        </Yellow_Bitcoin>
    </modules>
    <global>
        <helpers>
            <bitcoin>
                <class>Yellow_Bitcoin_Helper</class>
            </bitcoin>
        </helpers>
        <blocks>
            <bitcoin>
                <class>Yellow_Bitcoin_Block</class>
            </bitcoin>
        </blocks>
        <models>
            <bitcoin>
                <class>Yellow_Bitcoin_Model</class>
                <resourceModel>bitcoin_resource</resourceModel>
            </bitcoin>
            <bitcoin_resource>
                <class>Yellow_Bitcoin_Model_Resource</class>
                <entities>
                    <ipn>
                        <table>yellow_ipn</table>
                    </ipn>
                </entities>
            </bitcoin_resource>
        </models>
        <resources>
            <bitcoin_setup>
                <setup>
                    <module>Yellow_Bitcoin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bitcoin_setup>
            <bitcoin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bitcoin_write>
            <bitcoin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bitcoin_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <bitcoin>
                <use>standard</use>
                <args>
                    <module>Yellow_Bitcoin</module>
                    <frontName>bitcoin</frontName>
                </args>
            </bitcoin>
        </routers>
        <layout>
            <updates>
                <bitcoin>
                    <file>bitcoin.xml</file>
                </bitcoin>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <bitcoin>
                <active>1</active>
                <model>bitcoin/bitcoin</model>
                <order_status>pending</order_status>
                <title>Yellow Bitcoin</title>
                <fullscreen>0</fullscreen>
                <instructions>Pay  through your Bitcoin  - Yellow</instructions>
                <allowspecific>0</allowspecific>
                <currencies>USD,AED</currencies>
                <public_key>wJn25r8RwJn25r8R</public_key>
                <private_key>wJn25r8RwJn25r8R</private_key>
                <payment_action>authorize</payment_action>
            </bitcoin>
        </payment>
    </default>    
</config> 
